.card-cnt {
    margin-top: 10%;
    width: 100%;
    height: 100%;
}

.card {
    max-height: 20vw;
    width: 80vw;
    border: 5px solid #292F36;
    background-color: white;
    margin-bottom: 1em;
}

.card-title {
    text-align: center;
    font-family: Verdana;
    font-size: 32px;
    font-weight: bold;
    padding-top: 0.5em;
    color: #292F36;
}

.card-data {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.card-list {
    list-style-type: none;
}

.card-list li {
    font-family: Verdana;
    font-size: 14px;
    padding-bottom: 1%;
}

.card-icon {
    height: 50px;
    width: auto;
    margin-right: 2em;
    padding-bottom: 50%;
    opacity: 0.5;
}

.card-icon:hover {
    opacity: 1;
}