.banner {
    color: rgb(255, 107, 107);
    text-align: center;
    padding: 70px;
    font-size: 50px;
    font-weight: bold;
    text-decoration: overline;
    text-decoration-color: rgb(255, 250, 221);
    /*styles*/
}