.banner {
    background-color: #292F36;
    text-decoration: underline;
    text-decoration-color: white;
    color: #FF6B6B;
    text-align: center;
    padding: 70px;
    font: 50px Verdana;
    font-weight: bold;
    /*styles*/
}